-provide(:title, "About")
%h1 About
%p
  = link_to "Ruby on Rails Tutorial", "https://railstutorial.org/"
  is a #{link_to "book", "https://railstutorial.org/#ebook"} and
  = link_to "screencast", "https://railstutorial.org/#screencast"
  to teach web development with
  = link_to "Ruby on Rails", "http://rubyonrails.org/"
  This is the sample application for the tutorial.
