-provide(:title, "このアプリケーションについて")
%h1 このアプリケーションについて
%p
  = link_to "Ruby on Rails チュートリアル", "https://railstutorial.jp/"
  は
  = link_to "Ruby on Rails", "http://rubyonrails.org/"
  を利用した web 開発を教えるための
  #{link_to "本", "https://railstutorial.jp/#ebook"} と
  = link_to "スクリーンキャスト", "https://railstutorial.jp/#screencast"
  です。
  これは、チュートリアル用のサンプルアプリケーションです。
