%h1 パスワードリセット

%p パスワードをリセットするには、下のリンクをクリックしてください:

= link_to "リセットパスワード", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) 

%p このリンクは 2時間で無効となります。

%p
  もしあなたがパスワードのリセットを望まない場合、このメールを無視してください。
  その場合、パスワードは変更されません。
